 <!-- Footer page -->
<footer class="footer">
    <div class="container">
      <p class="text-muted">Desenvolvido por <span style="font-family: 'matura MT Script Capitals'" >Tenclar Valus</span></p>
    </div>
  </footer>
</body>
</html>