<html>
    <head>
        <link rel="icon" href="/img/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
         <!-- Custom styles for this template -->
         <link href="/css/estilo.css" rel="stylesheet">
        <title>Convert My Money</title>          

    </head>
    <body>
        <h1>
        <div class="logo">
        <a href="/">   <img src="/img/logo.svg"></a>
        </div>
    </h1>
        <hr>
