<html>
    <head>
        <link rel="icon" href="/img/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
         <!-- Custom styles for this template -->
         <link href="/css/estilo.css" rel="stylesheet">
        <title>Convert My Money</title>          

    </head>
    <body>
        
        <div class="logo">
           <img src="/img/logo.svg">
        </div>
        
        <hr>
