<%- include('header') %>
 
 <!-- Begin page content -->
<div class="container">
    <div class="box" >
       
        <form method="GET" action="cotacao">
            <input type="number" name="cotacao" placeholder="Cotação do Dolar" >
            <input type="number" name="quantidade" placeholder="Quantidade de Dolares">
            <button >Converter!</button>

        </form>

    </div>
</div>

<%- include('footer') %>